/*------------------------------------------------------------------------------------------------------*
                        LAYOUTS
\*------------------------------------------------------------------------------------------------------*/

.section {
	width: auto;
	padding: 2rem;
	margin: 3rem auto;
}
