body {
	background-color: var(--main-color);
}

.testing {
	background-color: #fff;
	display: block;
	width: percentage(5/7);
	height: percentage(3/12);
	margin: auto !important;
	padding: 2rem;
	border-radius: 4px;
	/* revisar SASS dirs */
}
